// HEADER
$header-height: 76px;
$settings-button-width: 40px;
$settings-container-width: 120px + $settings-button-width;
$settings-button-translation: $settings-button-width - $settings-container-width;