$themes: (
  light: (
    backgroundColor: white,
    buttonsColor: #13C1AC,
    hoveredButtonsColor: darken(#13C1AC, 5%),
    focusedButtonsColor: darken(#13C1AC, 10%),
    inputContainerBackgrounColor: darken(white, 15%),
    sliderBarColor: darken(white, 40%),
    inputContentColor: darken(white, 15%),
    searchIconFillColor: darken(white, 40%),
    searchIconFocusFillColor: #13C1AC,
    thumbnailBackgroundColor: darken(white, 15%),
    thumbnailShadowColor: darken(white, 40%),
    secondaryTextColor: lighten(black, 30%),
  ),
  dark: (
    backgroundColor: darken(white, 40%),
    buttonsColor: darken(#13C1AC, 20%),
    hoveredButtonsColor: darken(#13C1AC, 10%),
    focusedButtonsColor: darken(#13C1AC, 5%),
    inputContainerBackgrounColor: darken(white, 25%),
    sliderBarColor: darken(white, 5%),
    inputContentColor: darken(white, 25%),
    searchIconFillColor: darken(white, 5%),
    searchIconFocusFillColor: darken(#13C1AC, 20%),
    thumbnailBackgroundColor: darken(white, 25%),
    thumbnailShadowColor: darken(white, 10%),
    secondaryTextColor: lighten(black, 30%),
  ),
);