@import '../../styles/layout';
@import '../../styles/functions';
@import '../../styles/mixins';
@import '../../styles/themes';
@import '../../styles/animations';


:host-context::ng-deep  {
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $header-height;
        width: auto;
        padding: 0 10px;
        min-width: 320px;
        
        @include themify($themes) {
            background-color: themed('backgroundColor');
        }
    }

    .settings-container {
        position: relative;
        height: $input-button-height;
        width: $settings-container-width;
        overflow: hidden;
        background-color: inherit;
        transition: none;
    }

    .header-settings-button {
        position: absolute;
        top: 0;
        right: 0;
        outline: none;
        border: none;
        width: $settings-button-width;
        height: $input-button-height;
        cursor: pointer;
        padding: 8px 0;
        text-align: center;
        border-radius: 50%;
        z-index: 3;
        
        &.disabled {
            @include applyStandardAnimation(moveSettingsButtonBack, reverse);

            & > .header-settings-icon {
                @include applyStandardAnimation(rotateSettingsButtonBack, reverse);
            }
        }
        
        &.enabled {
            transform: translateX(#{$settings-button-translation});
            @include applyStandardAnimation(moveSettingsButton, reverse);

            & > .header-settings-icon {
                transform: rotate(-90deg);
                @include applyStandardAnimation(rotateSettingsButton, reverse);
            }
        }

        @include themify($themes) {
            background-color: themed('buttonsColor');

            &:hover {
                background-color: themed('hoveredButtonsColor');
            }

            &:active {
                background-color: themed('focusedButtonsColor');
            }
        }
    }

    .header-settings-icon {
        width: 24px;
        height: 24px;
    }

    .envelope {
        position: absolute;
        width: $settings-container-width;
        height: calc(#{$input-button-height} + 2px);
        top: -1px;
        left: -1px;
        background-color: inherit;
        border-radius: 30px;
        border: none;
        z-index: 2;
        
        &.disabled {
            @include applyStandardAnimation(moveEnvelopeBack, reverse, 50ms);
        }

        &.enabled {
            transform: translateX(-$settings-container-width);
            @include applyStandardAnimation(moveEnvelope, reverse, 50ms);
        }
    }

    .input-container {
        position: absolute;
        width: $settings-container-width;
        height: $input-button-height;
        z-index: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-radius: 30px;
        border: none;

        @include themify($themes) {
            background-color: themed('inputContainerBackgrounColor');
        }
    }

    .left-option {
        margin: 0 5px 0 0;
        font-size: 14px
    }

    .mat-slide-toggle {
        font-size: 14px;
        margin: 0 7px 0 0;

        & .mat-slide-toggle-thumb {
            @include themify($themes) {
                background-color: themed('buttonsColor');
            }
        }

        & .mat-slide-toggle-bar {
            @include themify($themes) {
                background-color: themed('sliderBarColor');
            }
        }
    }

    .search-container {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: $input-button-height;
        border-radius: 30px;
        border: none;
        margin: 0 5px 0 0;
        width: calc(100% - #{$settings-container-width});
        max-width: calc(100vw - #{$settings-container-width});
    }

    .search-input {
        background-color: transparent;
        border: none;
        border-radius: 30px;
        padding: 10px 36px;
        font-size: 14px;
        outline: none;
        width: 100%;

        @include themify($themes) {
            background-color: themed('inputContentColor');

            &:focus {
                background-color: transparent;
                border: 1px solid themed('searchIconFocusFillColor');

                & + app-search-icon-svg > .search-icon {
                    fill: themed('searchIconFocusFillColor');
                }
            }
        }
    }
}