<div class="header-container">
    <div class="search-container">
        <input
            class="search-input"
            (keyup)="searchBy($event)"
            maxlength="80"
            spellcheck="false"
            autocomplete="false"
            placeholder="Search"
        >
        <app-search-icon-svg></app-search-icon-svg>
        <div class="filters-container">
            <button
                aria-label="App Filters"
                class="current-filter"
                (click)="expandOrCollapseFilters()"
            >
                <img
                    alt="Current Filter Icon"
                    [src]="pathByName[currentFilter]"
                    class="filter-icon"
                >
            </button>
            <div
                class="filter-list"
                [ngClass]="{ 'expanded': areFiltersDisplayed, 'collapsed': areFiltersDisplayed === false }"
            >
                <button
                    *ngFor="let filter of filters"
                    [aria-label]="filter"
                    class="filter-inside-list"
                    (click)="changeCurrentFilter(filter)"
                >
                    <img
                        [alt]="filter + ' icon'"
                        [src]="pathByName[filter]"
                        class="filter-icon"
                    >
                </button>
            </div>
        </div>
    </div>

    <div
        class="settings-container"
        [ngClass]="{ 'enabled': areSettingsDisplayed, 'disabled': !areSettingsDisplayed }"
    >
        <button
            aria-label="App Settings"
            class="header-settings-button"
            [ngClass]="{ 'enabled': areSettingsDisplayed, 'disabled': areSettingsDisplayed === false }"
            (click)="showOrHideSettings()"
        >
            <img
                alt="Settings Icon"
                src="../assets/static/settings-white-18dp.svg"
                class="header-settings-icon"
            >
        </button>
        <div
            class="envelope"
            [ngClass]="{ 'enabled': areSettingsDisplayed, 'disabled': areSettingsDisplayed === false }"
        ></div>
        <div
            class="input-container"
            [ngClass]="{ 'enabled': areSettingsDisplayed, 'disabled': areSettingsDisplayed === false }"
        >
            <p class="left-option">Dark</p>
            <mat-slide-toggle
                class="theme-slider"
                (change)="changeTheme()"
            >
                Light
            </mat-slide-toggle>
        </div>
    </div>
</div>