@import '../../styles/layout';
@import '../../styles/functions';
@import '../../styles/mixins';
@import '../../styles/themes';
@import '../../styles/animations';


:host-context::ng-deep {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: $input-button-height;
    border-radius: 30px;
    border: none;
    margin: 0 5px 0 0;
    width: calc(100% - #{$settings-container-width});
    max-width: $max-search-input-width;
    
    .search-input {
        background-color: transparent;
        border: none;
        border-radius: 30px;
        padding: 10px 40px 10px 34px;
        font-size: 14px;
        outline: none;
        width: calc(100% - 74px);
        height: calc(100% - 20px);
        max-width: $max-search-input-width;
    
        @include themify($themes) {
            background-color: themed('inputContentColor');
    
            &:focus {
                background-color: transparent;
                border: 1px solid themed('searchIconFocusFillColor');
    
                & + app-search-icon-svg > .search-icon {
                    fill: themed('searchIconFocusFillColor');
                }
            }
        }
    }
    
    .filters-container {
        overflow: visible;
        position: absolute;
        border: none;
        width: $settings-button-width;
        height: $input-button-height;
        border-radius: 50%;
        top: 0;
        right: 0;
    }
    
    %filter-placeholder {
        outline: none;
        border: none;
        width: $settings-button-width;
        height: $input-button-height;
        cursor: pointer;
        padding: 8px 0;
        text-align: center;
        border-radius: 50%;
    
        @include themify($themes) {
            background-color: themed('buttonsColor');
    
            &:hover {
                background-color: themed('hoveredButtonsColor');
            }
    
            &:active {
                background-color: themed('focusedButtonsColor');
            }
        }
    }
    
    .current-filter {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        @extend %filter-placeholder;
    }
    
    .filter-inside-list {
        margin: 0;
        @extend %filter-placeholder;
    
        &:not(:first-child) {
            margin-top: 2.5px;
        }
    }
    
    .filter-list {
        position: absolute;
        top: -87.5px;
        left: 0;
        width: $settings-button-width;
        height: calc((#{$input-button-height} + 2.5px) * 3);
        background-color: transparent;
        opacity: 0;
    
        &.collapsed {
            opacity: 0;
            top: -87.5px;
            @include applyStandardAnimation(collapseFilters, reverse);
        }
    
        &.expanded {
            opacity: 1;
            top: 42.5px;
            @include applyStandardAnimation(expandFilters, reverse);
        }
    }
}